@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

// index variables

$font_family: 'Open Sans', sans-serif;

//Colors Palette
$cyber_green: #27ff91;
$cyber_red: rgba(255, 24, 77, 0.89);
$cyber_corall: #ff816b;

//Objects Colors
$body_bg: #131313;
$navbar-bg: #171717;
$a_color: #008bff;
$left_column_bg: #101010;
$center_column_bg: #0a0a0a;
$right_column_bg: #000;



@import '../stylesheets/main.scss';
@import '../stylesheets/navbar.scss';
@import '../stylesheets/show_container.scss';
@import '../stylesheets/dashboard_columns.scss';
@import '../stylesheets/form.scss';
@import '../stylesheets/buttons.scss';
@import '../stylesheets/scrollbar.scss';