@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

// VARIABLES

$font_family: 'Open Sans', sans-serif;

// colors palette
$cyber_green: rgb(126, 255, 167);
$cyber_red: rgb(255, 28, 81);
$cyber_coral: #ff816b;
$cyber_blue: #6cb9ff;
$minimal_dark: #2a2a2a;
$cyber_silver: #c3e7ff;
$cyber_yellow: #ffff49;

// objects colors
$body_bg: #131313;
$navbar-bg: #171717;
$left_column_bg: #101010;
$center_column_bg: #0a0a0a;
$right_column_bg: #000;

//IMPORTS

@import '../stylesheets/main.scss';
@import '../stylesheets/navbar.scss';
@import '../stylesheets/show_container.scss';
@import '../stylesheets/dashboard_columns.scss';
@import '../stylesheets/form.scss';
@import '../stylesheets/buttons.scss';
@import '../stylesheets/scrollbar.scss';