<div id="registration-errors-container">
  <% if resource.errors.any? %>
    <div id="error_explanation" data-turbo-cache="false">
<!--      <div id="error_explanation_title">-->
        <%#= I18n.t("errors.messages.not_saved", count: resource.errors.count, resource: resource.class.model_name.human.downcase) %>
<!--      </div>-->
      <div id="error_messages">
        <% resource.errors.full_messages.each do |message| %>
          <div id="error">! <%= message %></div>
        <% end %>
      </div>
    </div>
  <% end %></div>
