<img class="article-img" src="https://mainstay.ru/upload/medialibrary/7f9/ugvnlro044tfmy9320zjij3nh0vnrsr0.jpg" alt="article-img">
<div class="article-text">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus, culpa debitis delectus error eum expedita, facilis fuga fugiat in inventore iusto maxime molestias natus necessitatibus nemo perspiciatis quas, quia quos saepe sed sequi vero voluptatem? Ab animi, blanditiis deserunt earum esse est iure optio quidem voluptas voluptates! Aut beatae consectetur cumque, delectus eius eveniet inventore iste itaque labore necessitatibus neque non numquam perspiciatis, praesentium quam sequi soluta vitae voluptates!
</div>