<div class="article-text">
  <div class="article-title">Вход в приложение</div>
  <div class="article-body">
    После получения данных для входа у системного администратора, введите
    данные в форму для входа и нажмите кнопку <em class="blue">«Войти»</em>.
  </div>
</div>
