<img class="article-img" src="https://fonoteka.top/uploads/posts/2022-09/1663675338_43-phonoteka-org-p-aiti-fon-oboi-45.jpg" alt="article-img">
<div class="article-text">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, amet.
</div>