<% users = User.all.order created_at: :desc %>

<div class="users-list-wrapper">
  <div class="users-list-title column-title">Пользователи</div>
  <div class="users-list-container">
    <% users.each do |user| %>
      <div class="user-item">
        <%= turbo_frame_tag user do %>
          <%= link_to user.login, user_path(user), data: { turbo_frame: "center-column" } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


