<div class="index-wrapper">
  <div class="index-container">
    <div class="left-column">
      <ul>
        <% @users.each do |user| %>
          <%= turbo_frame_tag user do %>
            <li><%= link_to user.login, user_path(user), data: {turbo_frame: "center-column"} %></li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="center-column">
      <%= turbo_frame_tag "center-column" do %>
      <% end %>
    </div>

    <div class="right-column">
      <%= turbo_frame_tag "right-column" do %>
      <% end %>
    </div>
  </div>
</div>