<div class="index-wrapper">
  <div class="index-container">
    <div class="left-column">

    </div>

    <div id="center-column" class="center-column">

    </div>

    <div class="right-column">

    </div>
  </div>
</div>