<div class="index-wrapper">
  <div class="index-container">
    <div class="left-column">

    </div>
    <div class="center-column">

    </div>
    <div class="right-column">

    </div>
  </div>
</div>

<%= :can_create_role %>