<% if notice.present? %>
  <div class="notice flash">
    <%= notice %>
    <span class="close-flash btn btn-danger">X</span>
  </div>
<% end %>

<% if alert.present? %>
  <div class="alert flash">
    <%= alert %>
    <span class="close-flash btn btn-danger">X</span>
  </div>
<% end %>