.index-wrapper {

  position: relative;

}

.index-container {
  display: grid;
  grid-template-columns: 20% 40% 35%;
  gap: 50px;
}

.left-column {

  overflow-y: auto;
  height: fit-content;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.47);

  .list-container {
    display: flex;
    flex-direction: column;
    background: rgba(113, 203, 255, 0.53);
    border-radius: 0 0 3px 3px;

    .item {
      padding: 10px;
      transition: .2s;
      background: rgba(180, 225, 255, 0.49);

      .item-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .item-name {
          display: flex;
          align-items: center;
          font-size: 16px;
          color: $cyber_silver;
          text-decoration: none;
          padding-left: 10px;
        }

        .link {
          display: inline-block;
          font-size: 15px;
          color: rgba(176, 198, 255, 0.6);
          transition: .2s;
        }
      }
    }

    .item:hover {
      padding-left: 15px;
      padding-right: 15px;

      .link {
        color: $cyber_green;
      }

      .item-name {
        color: $cyber_blue;
      }

      .link:hover {
        text-decoration: underline;
      }
    }

    .item:nth-child(even) {
      background-color: rgb(47, 118, 191);
    }

    .item:nth-child(even):hover {
      background-color: rgba(0, 0, 0, 0.49);
    }

    .item:nth-child(odd) {
      background-color: rgba(13, 46, 106, 0.58);
    }

    .item:nth-child(odd):hover {
      background-color: rgba(0, 0, 0, 0.49);
    }

    .item:last-child {
      border-radius: 0 0 3px 3px;
    }
  }
}

.center-column {

}

.right-column {

}

.column-title.center-and-right-column {
  display: flex;
  justify-content: center;
}

.column-title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 10px;
  height: 25px;
  background: rgba(30, 97, 182, 0.62);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 3px 3px 0 0;
  border-bottom: 1px solid rgba(147, 217, 255, 0.62);

  .menu-button-wrapper {

    .menu-button {
      all: unset;
      color: $cyber_silver;
      cursor: pointer;
      transition: .2s;

      &:hover {
        color: $cyber_blue;
      }

    }
  }

  .title-login {
    color: $cyber_green;
    padding: 0 5px;
  }

  .title-menu {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;


    .title-text {
      color: $cyber_blue;
    }
  }
}
