
.plus-btn {
  all: unset;
  text-align: center;
  background-color: rgb(2, 42, 84);
  border-bottom: 1px solid rgba(147, 217, 255, 0.62);
  color: $cyber-silver;
  font-size: 14px;
  transition: .2s;
  cursor: pointer;
  padding: 5px 0 5px 0;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  &:hover {
    color: $cyber_green;
  }

  //&:hover::before, &:hover::after {
  //  transform: translateY(0%);
  //}
}

//.plus-btn::before {
//  content: "";
//  position: absolute;
//  top: 0;
//  left: 0;
//  width: 368px;
//  height: 30px;
//  background-color: #141e3f;
//  transition: .8s;
//  transform: translateX(-100%);
//  z-index: -1;
//}
//
//.plus-btn::after {
//  content: "";
//  position: absolute;
//  top: 0;
//  left: 0;
//  width: 368px;
//  height: 30px;
//  background-color: #141e3f;
//  transition: .8s;
//  transform: translateX(100%);
//  z-index: -1;
//}

.btn {
  all: unset;
  font-size: 14px;
  text-decoration: none;
  color: $cyber-silver;
  transition: .2s;
  box-shadow: inset 0 1px 0 0 #ffffff0d;
  background-color: #94a3b833;
  border-radius: 10px;
  cursor: pointer;
  padding: 3px 10px 3px 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: $cyber_green;
  }
}

.btn.btn-sm {
  font-size: 12px;
}

.btn.btn-lg {
  font-size: 18px;
}

//.btn.btn-warning {
//  box-shadow: inset 0 1px 2px 0 rgba(184, 204, 255, 0.54);
//  background-color: rgba(5, 5, 5, 0.99);
//  color: $cyber_silver;
//
//  &:hover {
//    color: $cyber_yellow;
//  }
//}

.btn.btn-danger {
  box-shadow: inset 0 1px 0 0 #ffffff0d;
  background-color: rgba(255, 0, 0, 0.3);

  &:hover {
    color: $cyber_red;
  }
}

.close-turbo-frame {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
}

.close-flash {
  position: relative;
  width: 5px;
}

.show-buttons {

  display: flex;
  flex-direction: row;
  gap: 5px;

  .show-btn {
    box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.33);
    padding: 4px;
    transition: .1s;

    img {
      width: 25px;
    }
  }
}