.index-wrapper {
  height: calc(100vh - 49px);
}

.index-container {
  display: grid;
  grid-template-columns: 20% 40% 40%; /* Задает три колонки равной ширины */
  height: 100%;
}

.left-column {
  background-color: $left_column_bg;
  overflow-y: auto;

  .users-list-title {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $left_column_bg;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid $cyber_blue;
    display: flex;
    justify-content: space-between;
  }

  .users-list-container {
    display: flex;
    flex-direction: column;

    .user-item {
      padding: 5px;
      transition: .15s;

      .user-item-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .user-login {
          display: flex;
          align-items: center;
          font-size: 16px;
          color: $cyber_silver;
          text-decoration: none;
          padding-left: 10px;
        }

        .user-link {
          display: inline-block;
          font-size: 15px;
          color: rgba(255, 255, 255, 0.16);
          transition: 0s;
        }
      }
    }

    .user-item:hover {
      padding-left: 10px;
      padding-right: 10px;

      .user-link {
        color: $cyber_yellow;
      }

      .user-login {
        color: $cyber_coral;
      }

      .user-link:hover {
        text-decoration: underline;
      }
    }

    .user-item:nth-child(even) {
      background-color: #232323;
    }

    .user-item:nth-child(even):hover {
      background-color: #000;
    }

    .user-item:nth-child(odd) {
      background-color: #131313;
    }

    .user-item:nth-child(odd):hover {
      background-color: #000;
    }
  }
}

.center-column {
  background-color: $center_column_bg;
}

.right-column {
  background-color: $right_column_bg;
  border-left: 1px solid $cyber_blue;
}

.column-title {
  display: flex;
  justify-content: center;
  gap: 5px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: $left_column_bg;
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid $cyber_blue;
  height: 25px;

  .title-login {
    color: $cyber_coral;
  }


  .title-text {
    font-size: 18px;
    color: $cyber_coral;
  }

  .new-user-button_wrapper {
    .plus-button {
      padding: 5px;
      font-family: Arial, sans-serif;
      font-size: 18px;
    }
  }
}
