.index-wrapper {
  height: calc(100vh - 43px);
}

.index-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 2.5fr; /* Задает три колонки равной ширины */
  height: 100%;
}

.left-column {
}

.center-column {
  border-right: 2px solid #27ff91;
  border-left: 2px solid #27ff91;
}

.right-column {
}