.form-wrapper {

  padding: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .form-field {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;

    input {
      all: unset;
      font-size: 14px;
      color: $cyber_coral;
      max-width: 300px;
      width: 200px;
      padding: 3px;
      background-color: #151515;
      border-bottom: 1px solid #fff;
      border-radius: 3px;
      transition: .15s;
    }

    input:focus {
      color: $cyber_green;
      border-radius: 3px;
      border-bottom: 1px solid $cyber_green;
      background-color: #1e1e1e;
    }

    select {
      max-width: 300px;
      width: 200px;
      color: $cyber_coral;
      background-color: black;
      border-radius: 3px;
      font-size: 16px;
      padding: 3px;
      transition: .15s;
    }

    select:hover {
      color: $cyber_green;
    }

    select:active {
      outline: none;
    }

    label {
      font-size: 16px;
    }
  }
}

.line {
  display: block;
  height: 1px;
  background-color: $cyber_blue;
  margin-top: 20px;
  border-radius: 20px;
}
