.form-wrapper {

  padding: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .form-field {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;

    input {
      all: unset;
      font-size: 14px;
      color: $cyber_green;
      padding: 3px;
      background-color: #494949;
      transition: .15s;
      width: 220px;
    }

    input:focus {
      background-color: #1e1e1e;
      width: 290px;
    }

    select {
      max-width: 300px;
      width: 200px;
      color: $cyber_green;
      background-color: black;
      border-radius: 3px;
      height: fit-content;
      padding: 3px;
      transition: .15s;
    }

    label {
      font-size: 16px;
    }
  }

  .form-field.search {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;

    input {
      all: unset;
    }

    .search-field {
      all: unset;
      color: $cyber_yellow;
      font-size: 14px;
      padding: 3px;
      background-color: #494949;
      transition: .15s;
      width: 220px;
      border-radius: 3px;
    }

    .search-field:focus {
      background-color: #1e1e1e;

    }

    .search-submit {
      font-size: 14px;
      color: $cyber_yellow;
      padding: 5px;
      border: 1px solid $cyber_yellow;
      border-radius: 3px;
      transition: .15s;
      width: fit-content;
      cursor: pointer;
    }

    .search-submit:hover {
      background-color: $cyber_yellow;
      color: black;
    }
  }
}

.line {
  display: block;
  height: 1px;
  background-color: $cyber_blue;
  margin-top: 20px;
  border-radius: 20px;
}

//CHECKBOX-TABLE

.checkbox-wrapper {

  border: 1px solid $cyber_coral;
  border-radius: 3px;
  padding: 20px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: auto;
  margin: 0 auto;

  .checkbox-table-title {
    color: $cyber_coral;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 25px;
  }

  .checkbox-table {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .checkbox-table-item {
      display: grid;
      grid-template-columns: 90% 10%;
      border-bottom: 1px solid $thin_grey;
      padding: 5px;
      font-size: 16px;

      .checkbox-label {
        color: $cyber_blue;

        label {
          transition: .2s;

          -webkit-user-select: none; /* Safari */
          -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer */
          user-select: none; /* Стандарт */
        }

        label:hover {
          color: $cyber_coral;
          cursor: pointer;
        }

      }

    }

  }

}

.form-wrapper.form-edit {
  margin-top: 25px;
}

.form-actions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

  margin-top: 40px;
  margin-bottom: 20px;
  height: 50px;

  input {
    all: unset;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    transition: .2s;
    text-align: center;
  }
}

