body {
  background: $body_bg;
  font-family: $font_family;
  padding: 0;
  margin: 0;
  color: #fff;
}

a {
  all: unset;
  cursor: pointer;
}

.noselect {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  user-select: none; /* Стандарт */
}

// FLASH

#registration-errors-container:not(:empty) {

  margin-bottom: 30px;

  #error_explanation {
    color: #000;
    font-size: 16px;
    border-radius: 3px;
    padding: 10px;
    background-color: $cyber_red;

    #error {
      font-weight: bold;
      list-style: circle;
    }
  }
}

.alert:not(:empty) {
  margin-bottom: 30px;
  color: #000;
  font-size: 16px;
  border-radius: 3px;
  padding: 10px;
  background-color: $cyber_red;
  font-weight: bold;
}

.notice:not(:empty) {
  margin-bottom: 30px;
  color: #000;
  font-size: 16px;
  border-radius: 3px;
  padding: 10px;
  background-color: $cyber_green;
  font-weight: bold;
}