/* Стили для скроллбара вебкит-браузеров */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: $cyber_blue;
  border-radius: 0 10px 10px 0;
}

::-webkit-scrollbar-track {
  background-color: $cyber_gray;
  border-radius: 0 10px 10px 0;
}

/* Стили для скроллбара в Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #333 #222;
}

*:hover {
  scrollbar-color: #333 #222;
}