.show-wrapper {
  display: flex;
  width: 100%;

  .show-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 3px;
    width: fit-content;

    b {
      color: #ff2053;
    }
  }

  a {
    all: unset;
    cursor: pointer;
    background-color: transparent;
    color: $cyber_blue;
    font-weight: bold;
    padding: 5px;
    border: 1px solid $cyber_blue;
    border-radius: 3px;
    transition: .2s;
  }

  a:hover {
    background-color: $cyber_blue;
    color: #000;
  }
}