.show-wrapper {
  display: flex;
  border-radius: 0 0 3px 3px;

  margin-bottom: 30px;

  .info-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 3px;
    width: 100%;

    legend {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .show-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px;
    border-radius: 3px;
    width: 100%;

    .main-info.info-container {
      border: 1px solid $cyber_blue;

      legend {
        color: $cyber_blue;
      }

      b {
        color: $cyber_blue;
      }
    }

    .technical-user-info.info-container {
      border: 1px solid $cyber_green;

      legend {
        color: $cyber_green;
      }

      b {
        color: $cyber_green;
      }
    }

    .timestamps-user-info.info-container {
      border: 1px solid $cyber_coral;

      legend {
        color: $cyber_coral;
      }

      b {
        color: $cyber_coral;
      }
    }

    .credentials-wrapper.info-container {
      border: 1px solid $cyber_yellow;

      legend {
        color: $cyber_yellow;
      }

      .credentials-table {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
      }

      .credentials-table-item {
        background-color: $light_yellow;
        padding: 5px;
        border-radius: 3px;
        color: #000;
        cursor: default;
        font-size: 14px;
      }
    }
  }
}

.role-show-wrapper,
.department-show-wrapper {

  .users-table {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 15px;
    max-height: 400px;
    overflow-y: auto;
    border-radius: 10px;
    padding: 20px;
  }

  .show-item {
    padding: 5px;
    border-radius: 3px;
    color: #fff;
    cursor: default;
    font-size: 14px;
    height: fit-content;
    width: fit-content;

    .user-email {
      padding: 2px;
      border-radius: 3px;
      color: #000;
      background-color: $cyber_green;
    }

    .user-department {
      padding: 2px;
      color: #000;
      border-radius: 3px;
      background-color: $cyber_blue;
    }
  }

  .show-item {
    display: flex;
    flex-direction: column;

    .user-email, .user-department {
      padding: 3px;
      margin-bottom: 3px;
    }
  }

  .item-name {
    font-size: 16px;
  }

  .item-name:hover {
    text-decoration: underline;
    color: $cyber_blue;
  }

  .item-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $cyber_yellow;

    .link {
      display: inline-block;
      font-size: 14px;
      border-radius: 3px;
      background-color: $left_column_bg;
      color: rgba(255, 255, 255, 0.78);
      transition: .2s;
      margin-bottom: 3px;
      padding: 3px;
    }

    .link:hover {
      text-decoration: underline;
      color: $cyber_yellow;
    }
  }
}

.note-description {
  display: flex;
  flex-direction: column;

  textarea {
    all: unset;
    //min-height: 100px;
    //max-height: 600px;
    height: 300px;
    word-wrap: break-word;
    overflow-y: auto;
    background: rgba(30, 41, 59, 0.77);
    padding: 5px;
    border: 1px solid rgba(195, 231, 255, 0.27);
    border-radius: 10px;
    font-size: 15px;
    font-family: $font_family;
    color: $cyber_silver;
    transition: .2s;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.33);
  }
}


