.show-wrapper {
  display: flex;
  width: 100%;

  .info-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 3px;
    width: 100%;

    legend {
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .show-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px;
    border-radius: 3px;
    width: 100%;

    .main-user-info.info-container {
      border: 1px solid $cyber_blue;

      legend {
        color: $cyber_blue;
      }

      b {
        color: $cyber_blue;
      }
    }

    .technical-user-info.info-container {
      border: 1px solid $cyber_green;

      legend {
        color: $cyber_green;
      }

      b {
        color: $cyber_green;
      }
    }

    .timestamps-user-info.info-container {
      border: 1px solid $cyber_coral;

      legend {
        color: $cyber_coral;
      }

      b {
        color: $cyber_coral;
      }
    }

    .credentials-wrapper.info-container {
      border: 1px solid $cyber_yellow;

      legend {
        color: $cyber_yellow;
      }

      .credentials-table {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
      }

      .credentials-table-item {
        background-color: $light_yellow;
        padding: 5px;
        border-radius: 3px;
        color: #000;
        cursor: default;
        font-size: 14px;
      }
    }
  }
}

.role-show-wrapper,
.department-show-wrapper {

  .users-table {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 400px;
    overflow-y: auto;
  }

  .show-item {
    background-color: $light_yellow;
    padding: 5px;
    border-radius: 3px;
    color: #000;
    cursor: default;
    font-size: 14px;
    height: fit-content;

    .user-login {
      padding: 2px;
      border-radius: 3px;
      background-color: $cyber_blue;
    }

    .user-email {
      padding: 2px;
      border-radius: 3px;
      background-color: $cyber_green;
    }

    .user-department {
      padding: 2px;
      border-radius: 3px;
      background-color: $cyber_coral;
    }
  }
}

.role-show-wrapper {
  .show-item {
    display: flex;
    flex-direction: column;
    gap: 3px;

    .user-email, .user-department {
      padding: 3px;
    }
  }

  .item-name {
    font-size: 16px;
  }

  .item-name:hover {
    text-decoration: underline;
    color: $cyber_blue;
  }

  .item-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $cyber_yellow;

    .link {
      display: inline-block;
      font-size: 14px;
      border-radius: 3px;
      background-color: $left_column_bg;
      color: rgba(255, 255, 255, 0.78);
      transition: .2s;
      margin-bottom: 3px;
      padding: 3px;
    }

    .link:hover {
      text-decoration: underline;
      color: $cyber_yellow;
    }
  }
}