<div class="left-column-title">
  <span>Пользователи <span style="color: greenyellow">[<%= @users.count %>]</span></span>
</div>

<div class="left-column-users">
  <% @users.each do |user| %>
    <div class="left-column-user">
      <%= link_to user.login, user_path(user) %>


    </div>
  <% end %>
</div>

