<div class="static-home-wrapper">
  <h2>BlackBox - безопасное решение для бизнеса</h2>

  <div class="guide-wrapper">

    <div class="guide-title">
      <h3>Как это работает</h3>
    </div>

    <div class="guide-container">

      <div class="sections-column">

        <div class="section">
          <div class="section-title">
            Создание аккаунта
          </div>
        </div>

        <div class="section">
          <div class="section-title">
              Вход
          </div>
        </div>

      </div>

      <div class="article-column">

        <div class="article">
          <%= render 'static/articles/article_1' %>
        </div>

      </div>

    </div>
  </div>
</div>