<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
      b {
          color: #0288d9;
      }
    </style>
  </head>

  <body>
    <p>Сообщение от сервиса <b>CRYPTA</b></p>
    <%= yield %>
  </body>
</html>
